@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Fira Sans';
  src: url('assets/fonts/FiraSans-Regular.ttf');
}


:root {
  line-height: 1.5;
  font-family: 'Fira Sans', sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #01080e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
