@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Fira Sans', sans-serif;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #01080e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
